<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-content">
      <span class="card-title black-text"><b>Dados Pessoais</b></span>
      <div class="row">
        <div class="field col s12 l8">
          <%= form.label :nome %>
          <%= form.text_field :nome, id: :employee_nome %>
        </div>

        <div class="field col s12 l4">
          <%= form.label :sexo %>
          <%= form.text_field :sexo, id: :employee_sexo %>
        </div>
        <div class="field col s12 l3">
          <%= form.label :cpf %>
          <%= form.text_field :cpf, id: :employee_cpf %>
        </div>
        <div class="field col s12 l3">
          <%= form.label :pis %>
          <%= form.text_field :pis, id: :employee_pis %>
        </div>
        <div class="field col s12 l3">
          <%= form.label :numrg %>
          <%= form.text_field :numrg, id: :employee_numrg %>
        </div>

        <div class="field col s12 l3">
          <%= form.label :orgaorg %>
          <%= form.text_field :orgaorg, id: :employee_orgaorg %>
        </div>

        <div class="field col s12 l3">
          <%= form.label :ufrg %>
          <%= form.text_field :ufrg, id: :employee_ufrg %>
        </div>

        <div class="field col s12 l3">
          <%= form.label :telefone %>
          <%= form.text_field :telefone, id: :employee_telefone %>
        </div>
        <div class="field  col s12 l6">
          <%= form.label :endereco %>
          <%= form.text_field :endereco, id: :employee_endereco %>
        </div>

        <div class="field col s12 l3">
          <%= form.label :bairro %>
          <%= form.text_field :bairro, id: :employee_bairro %>
        </div>

        <div class="field  col s12 l6">
          <%= form.label :cidade %>
          <%= form.text_field :cidade, id: :employee_cidade %>
        </div>

        <div class="field col s12 l6">
          <%= form.label :cep %>
          <%= form.text_field :cep, id: :employee_cep %>
        </div>
        <div class="field col s12 l6">
          <%= form.label :uf %>
          <%= form.text_field :uf, id: :employee_uf %>
        </div>

        <div class="field col s12 l6">
          <%= form.label :data_nascimento %>
          <%= form.date_field :data_nascimento, id: :employee_data_nascimento %>
        </div>
        <div class="field col s12 l6">
          <%= form.label :email %>
          <%= form.text_field :email, id: :employee_email %>
        </div>

        <div class="field col s12 l4">
          <%= form.label :banco %>
          <%= form.text_field :banco, id: :employee_banco %>
        </div>
        <div class="field col s12 l4">
          <%= form.label :agencia %>
          <%= form.text_field :agencia, id: :employee_agencia %>
        </div>

        <div class="field col s12 l4">
          <%= form.label :conta %>
          <%= form.text_field :conta, id: :employee_conta %>
        </div>
        <div class="field col s12 l4">
          <%= form.label :escolaridade %>
          <%= form.text_field :escolaridade, id: :employee_escolaridade %>
        </div>


      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title black-text"><b>Dados Funcionais</b></span>
      <div class="row">
        <div class="field col s12 l4">
          <%= form.label :matricula %>
          <%= form.text_field :matricula, id: :employee_matricula %>
        </div>

        <div class="field col s12 l4">
          <%= form.label :numfunc %>
          <%= form.number_field :numfunc, id: :employee_numfunc %>
        </div>

        <div class="field col s12 l4">
          <%= form.label :numvinc %>
          <%= form.number_field :numvinc, id: :employee_numvinc %>
        </div>


        <div class="field col s12 l3">
          <%= form.label :data_admissao %>
          <%= form.date_field :data_admissao, id: :employee_data_admissao %>
        </div>
        <div class="field col s12 l3">
          <%= form.label :data_base_ferias %>
          <%= form.date_field :data_base_ferias, id: :employee_data_base_ferias %>
        </div>
        <div class="field col s12 l3">
          <%= form.label :data_demissao %>
          <%= form.date_field :data_demissao, id: :employee_data_demissao %>
        </div>

        <div class="field col s12 l3">
          <%= form.label :data_fim_contrato %>
          <%= form.date_field :data_fim_contrato, id: :employee_data_fim_contrato %>
        </div>

        <div class="field col s12 l6">
          <%= form.label :dtini_ferias %>
          <%= form.date_field :dtini_ferias, id: :employee_dtini_ferias %>
        </div>

        <div class="field col s12 l6">
          <%= form.label :dtfim_ferias %>
          <%= form.date_field :dtfim_ferias, id: :employee_dtfim_ferias %>
        </div>
      </div>
      <div class="row">
        <div class="field col s12 l18">
          <%= form.label :orgao %>
          <%= form.text_field :orgao, id: :employee_orgao %>
        </div>
        <div class="field  col s12 l2">
          <%= form.label :sigla_orgao %>
          <%= form.text_field :sigla_orgao, id: :employee_sigla_orgao %>
        </div>
        <div class="field  col s12 l2">
          <%= form.label :cod_orgao %>
          <%= form.number_field :cod_orgao, id: :employee_cod_orgao %>
        </div>
        <div class="field col s12 ">
          <%= form.label :cnpj_orgao %>
          <%= form.text_field :cnpj_orgao, id: :employee_cnpj_orgao %>
        </div>
        <div class="field col s12 l6">
          <%= form.label :cargo %>
          <%= form.text_field :cargo, id: :employee_cargo %>
        </div>

        <div class="field col s12 l6">
          <%= form.label :funcao %>
          <%= form.text_field :funcao, id: :employee_funcao %>
        </div>
        <div class="field col s12 l6">
          <%= form.label :referencia_cargo %>
          <%= form.text_field :referencia_cargo, id: :employee_referencia_cargo %>
        </div>



        <div class="field col s12 l6">
          <%= form.label :referencia_funcao %>
          <%= form.text_field :referencia_funcao, id: :employee_referencia_funcao %>
        </div>

      </div>
      <div class="row">
        <div class="field col s12 l6">
          <%= form.label :salario %>
          <%= form.text_field :salario, id: :employee_salario %>
        </div>

        <div class="field col s12 l6">
          <%= form.label :gratificacao %>
          <%= form.text_field :gratificacao, id: :employee_gratificacao %>
        </div>

        <div class="field col s12 l6">
          <%= form.label :tipo_vinculo %>
          <%= form.text_field :tipo_vinculo, id: :employee_tipo_vinculo %>
        </div>




        <div class="field col s12 l6">
          <%= form.label :situacao %>
          <%= form.text_field :situacao, id: :employee_situacao %>
        </div>

        <div class="field col s12 l6">
          <%= form.label :situacao_ferias %>
          <%= form.text_field :situacao_ferias, id: :employee_situacao_ferias %>
        </div>
      </div>
    </div>
  </div>





  <div class="field">
    <%= form.label :poder %>
    <%= form.text_field :poder, id: :employee_poder %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar", class:"btn", target: "_self" %>
  </div>
<% end %>
