<p id="notice"><%= notice %></p>

<h1>Servidores</h1>
<div class="card" style="overflow: visible;">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
        <%= f.text_field :nome_or_cpf_cont, placeholder: "Nome, CPF" %>
        <br><br>
        <%= f.submit "Filtrar", class:"btn white-text" %>
        <%= link_to "Limpar", employees_path, class:"btn white-text" %>
      <% end %>
    </div>
  </div>
</div>

<%= paginate @employees %>
<div class="card-panel">
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Órgão</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>

        <td><%= link_to employee.nome, employee, target:"_self" %></td>
        <td><%= employee.cpf %></td>
        <td><%= employee.orgao %></td>
        <td><%= link_to 'Editar', edit_employee_path(employee) %></td>
        <td><%= link_to 'Excluir', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <%= paginate @employees %>
<br>

<%= link_to 'Novo Servidor', new_employee_path, class:"btn white-text", target:"_self" %>
</div>