<p id="notice"><%= notice %></p>

<p>
  <strong>Matricula:</strong>
  <%= @employee.matricula %>
</p>

<p>
  <strong>Numfunc:</strong>
  <%= @employee.numfunc %>
</p>

<p>
  <strong>Numvinc:</strong>
  <%= @employee.numvinc %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @employee.nome %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @employee.sexo %>
</p>

<p>
  <strong>Numrg:</strong>
  <%= @employee.numrg %>
</p>

<p>
  <strong>Orgaorg:</strong>
  <%= @employee.orgaorg %>
</p>

<p>
  <strong>Ufrg:</strong>
  <%= @employee.ufrg %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @employee.cpf %>
</p>

<p>
  <strong>Data admissao:</strong>
  <%= @employee.data_admissao %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @employee.telefone %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @employee.endereco %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @employee.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @employee.cidade %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @employee.cep %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @employee.uf %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @employee.data_nascimento %>
</p>

<p>
  <strong>Data base ferias:</strong>
  <%= @employee.data_base_ferias %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @employee.cargo %>
</p>

<p>
  <strong>Funcao:</strong>
  <%= @employee.funcao %>
</p>

<p>
  <strong>Orgao:</strong>
  <%= @employee.orgao %>
</p>

<p>
  <strong>Cod orgao:</strong>
  <%= @employee.cod_orgao %>
</p>

<p>
  <strong>Salario:</strong>
  <%= @employee.salario %>
</p>

<p>
  <strong>Gratificacao:</strong>
  <%= @employee.gratificacao %>
</p>

<p>
  <strong>Tipo vinculo:</strong>
  <%= @employee.tipo_vinculo %>
</p>

<p>
  <strong>Data demissao:</strong>
  <%= @employee.data_demissao %>
</p>

<p>
  <strong>Data fim contrato:</strong>
  <%= @employee.data_fim_contrato %>
</p>

<p>
  <strong>Escolaridade:</strong>
  <%= @employee.escolaridade %>
</p>

<p>
  <strong>Situacao:</strong>
  <%= @employee.situacao %>
</p>

<p>
  <strong>Referencia cargo:</strong>
  <%= @employee.referencia_cargo %>
</p>

<p>
  <strong>Pis:</strong>
  <%= @employee.pis %>
</p>

<p>
  <strong>Referencia funcao:</strong>
  <%= @employee.referencia_funcao %>
</p>

<p>
  <strong>Dtini ferias:</strong>
  <%= @employee.dtini_ferias %>
</p>

<p>
  <strong>Dtfim ferias:</strong>
  <%= @employee.dtfim_ferias %>
</p>

<p>
  <strong>Sigla orgao:</strong>
  <%= @employee.sigla_orgao %>
</p>

<p>
  <strong>Agencia:</strong>
  <%= @employee.agencia %>
</p>

<p>
  <strong>Conta:</strong>
  <%= @employee.conta %>
</p>

<p>
  <strong>Banco:</strong>
  <%= @employee.banco %>
</p>

<p>
  <strong>Situacao ferias:</strong>
  <%= @employee.situacao_ferias %>
</p>

<p>
  <strong>Cnpj orgao:</strong>
  <%= @employee.cnpj_orgao %>
</p>

<p>
  <strong>Poder:</strong>
  <%= @employee.poder %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
