<div style="top:-100px; position:relative">
  <div class="col-md-6 col-md-offset-3">
    <div class="widget innerAll inner-2x">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :cpf, "CPF" %><br />
        <%= f.text_field :cpf, required:true, class:"form-control", placeholder:"somente números" %>
      </div>

      <div class="form-group">
        <%= f.label :matricula, "Matrícula" %>
        <em>(somente números e sem o dígito)</em><br/>
        <%= f.text_field :matricula, required:true, class:"form-control", placeholder:"somente números" %>
      </div>

      <div class="form-group">
        <%= f.label :password, "Senha" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caracteres)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", required:true, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirme a Senha" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", required:true, class:"form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Cadastre-se", class:"btn btn-success" %>
      </div>
      <% end %>

     </div>
      <div class="col-app" id="botao" >
        <div class="login center">
          <div class="btn btn-danger btn-lg" onclick="show_links()">
            <i class="fa fa-unlink"></i> Problemas no Acesso?
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="col-app" style="display:none;" id="links">
        <div class="login">
          <div class="panel panel-default col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-4">
            <div class="panel-body">
             <%= render "devise/shared/links" %>
           </div>
         </div>
         <div class="clearfix"></div>
       </div>
   </div>

</div>
  <script type="text/javascript">
    function show_links () {
      $('#botao').hide()
      $('#links').fadeIn()
    }
  </script>