<%= form_for(@fake_secad) do |f| %>
  <% if @fake_secad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fake_secad.errors.count, "error") %> prohibited this fake_secad from being saved:</h2>

      <ul>
      <% @fake_secad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= fs.label :user_id %><br>
    <%= fs.text_field :user_id %>
  </div>
  <div class="field">
    <%= fs.label :entity_id %><br>
    <%= fs.text_field :entity_id %>
  </div>
  <div class="field">
    <%= fs.label :matricula %><br>
    <%= fs.text_field :matricula %>
  </div>
  <div class="field">
    <%= fs.label :numfunc %><br>
    <%= fs.text_field :numfunc %>
  </div>
  <div class="field">
    <%= fs.label :numvinc %><br>
    <%= fs.text_field :numvinc %>
  </div>
  <div class="field">
    <%= fs.label :sexo %><br>
    <%= fs.text_field :sexo %>
  </div>
  <div class="field">
    <%= fs.label :numrg %><br>
    <%= fs.text_field :numrg %>
  </div>
  <div class="field">
    <%= fs.label :orgaorg %><br>
    <%= fs.text_field :orgaorg %>
  </div>
  <div class="field">
    <%= fs.label :ufrg %><br>
    <%= fs.text_field :ufrg %>
  </div>
  <div class="field">
    <%= fs.label :data_admissao %><br>
    <%= fs.date_select :data_admissao %>
  </div>
  <div class="field">
    <%= fs.label :telefone %><br>
    <%= fs.text_field :telefone %>
  </div>
  <div class="field">
    <%= fs.label :endereco %><br>
    <%= fs.text_field :endereco %>
  </div>
  <div class="field">
    <%= fs.label :bairro %><br>
    <%= fs.text_field :bairro %>
  </div>
  <div class="field">
    <%= fs.label :cidade %><br>
    <%= fs.text_field :cidade %>
  </div>
  <div class="field">
    <%= fs.label :cep %><br>
    <%= fs.text_field :cep %>
  </div>
  <div class="field">
    <%= fs.label :uf %><br>
    <%= fs.text_field :uf %>
  </div>
  <div class="field">
    <%= fs.label :data_nascimento %><br>
    <%= fs.date_select :data_nascimento %>
  </div>
  <div class="field">
    <%= fs.label :data_base_ferias %><br>
    <%= fs.date_select :data_base_ferias %>
  </div>
  <div class="field">
    <%= fs.label :cargo %><br>
    <%= fs.text_field :cargo %>
  </div>
  <div class="field">
    <%= fs.label :funcao %><br>
    <%= fs.text_field :funcao %>
  </div>
  <div class="field">
    <%= fs.label :salario %><br>
    <%= fs.text_field :salario %>
  </div>
  <div class="field">
    <%= fs.label :gratificacao %><br>
    <%= fs.text_field :gratificacao %>
  </div>
  <div class="field">
    <%= fs.label :tipo_vinculo %><br>
    <%= fs.text_field :tipo_vinculo %>
  </div>
  <div class="field">
    <%= fs.label :data_demissao %><br>
    <%= fs.date_select :data_demissao %>
  </div>
  <div class="field">
    <%= fs.label :data_fim_contrato %><br>
    <%= fs.date_select :data_fim_contrato %>
  </div>
  <div class="field">
    <%= fs.label :escolaridade %><br>
    <%= fs.text_field :escolaridade %>
  </div>
  <div class="field">
    <%= fs.label :situacao %><br>
    <%= fs.text_field :situacao %>
  </div>
  <div class="field">
    <%= fs.label :referencia_cargo_ %><br>
    <%= fs.text_field :referencia_cargo_ %>
  </div>
  <div class="field">
    <%= fs.label :pis %><br>
    <%= fs.text_field :pis %>
  </div>
  <div class="field">
    <%= fs.label :referencia_funcao_ %><br>
    <%= fs.text_field :referencia_funcao_ %>
  </div>
  <div class="field">
    <%= fs.label :dtini_ferias %><br>
    <%= fs.date_select :dtini_ferias %>
  </div>
  <div class="field">
    <%= fs.label :dtfim_ferias %><br>
    <%= fs.date_select :dtfim_ferias %>
  </div>
  <div class="field">
    <%= fs.label :agencia %><br>
    <%= fs.text_field :agencia %>
  </div>
  <div class="field">
    <%= fs.label :conta %><br>
    <%= fs.text_field :conta %>
  </div>
  <div class="field">
    <%= fs.label :banco %><br>
    <%= fs.text_field :banco %>
  </div>
  <div class="field">
    <%= fs.label :situacao_ferias %><br>
    <%= fs.text_field :situacao_ferias %>
  </div>
  <div class="actions">
    <%= fs.submit %>
  </div>
<% end %>
