<h1>Listing fake_secads</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Entity</th>
      <th>Matricula</th>
      <th>Numfunc</th>
      <th>Numvinc</th>
      <th>Sexo</th>
      <th>Numrg</th>
      <th>Orgaorg</th>
      <th>Ufrg</th>
      <th>Data admissao</th>
      <th>Telefone</th>
      <th>Endereco</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Cep</th>
      <th>Uf</th>
      <th>Data nascimento</th>
      <th>Data base ferias</th>
      <th>Cargo</th>
      <th>Funcao</th>
      <th>Salario</th>
      <th>Gratificacao</th>
      <th>Tipo vinculo</th>
      <th>Data demissao</th>
      <th>Data fim contrato</th>
      <th>Escolaridade</th>
      <th>Situacao</th>
      <th>Referencia cargo </th>
      <th>Pis</th>
      <th>Referencia funcao </th>
      <th>Dtini ferias</th>
      <th>Dtfim ferias</th>
      <th>Agencia</th>
      <th>Conta</th>
      <th>Banco</th>
      <th>Situacao ferias</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fake_secads.each do |fake_secad| %>
      <tr>
        <td><%= fake_secad.user %></td>
        <td><%= fake_secad.entity %></td>
        <td><%= fake_secad.matricula %></td>
        <td><%= fake_secad.numfunc %></td>
        <td><%= fake_secad.numvinc %></td>
        <td><%= fake_secad.sexo %></td>
        <td><%= fake_secad.numrg %></td>
        <td><%= fake_secad.orgaorg %></td>
        <td><%= fake_secad.ufrg %></td>
        <td><%= fake_secad.data_admissao %></td>
        <td><%= fake_secad.telefone %></td>
        <td><%= fake_secad.endereco %></td>
        <td><%= fake_secad.bairro %></td>
        <td><%= fake_secad.cidade %></td>
        <td><%= fake_secad.cep %></td>
        <td><%= fake_secad.uf %></td>
        <td><%= fake_secad.data_nascimento %></td>
        <td><%= fake_secad.data_base_ferias %></td>
        <td><%= fake_secad.cargo %></td>
        <td><%= fake_secad.funcao %></td>
        <td><%= fake_secad.salario %></td>
        <td><%= fake_secad.gratificacao %></td>
        <td><%= fake_secad.tipo_vinculo %></td>
        <td><%= fake_secad.data_demissao %></td>
        <td><%= fake_secad.data_fim_contrato %></td>
        <td><%= fake_secad.escolaridade %></td>
        <td><%= fake_secad.situacao %></td>
        <td><%= fake_secad.referencia_cargo_ %></td>
        <td><%= fake_secad.pis %></td>
        <td><%= fake_secad.referencia_funcao_ %></td>
        <td><%= fake_secad.dtini_ferias %></td>
        <td><%= fake_secad.dtfim_ferias %></td>
        <td><%= fake_secad.agencia %></td>
        <td><%= fake_secad.conta %></td>
        <td><%= fake_secad.banco %></td>
        <td><%= fake_secad.situacao_ferias %></td>
        <td><%= link_to 'Show', fake_secad %></td>
        <td><%= link_to 'Edit', edit_fake_secad_path(fake_secad) %></td>
        <td><%= link_to 'Destroy', fake_secad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fake secad', new_fake_secad_path %>
