<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @fake_secad.user %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @fake_secad.entity %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @fake_secad.matricula %>
</p>

<p>
  <strong>Numfunc:</strong>
  <%= @fake_secad.numfunc %>
</p>

<p>
  <strong>Numvinc:</strong>
  <%= @fake_secad.numvinc %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @fake_secad.sexo %>
</p>

<p>
  <strong>Numrg:</strong>
  <%= @fake_secad.numrg %>
</p>

<p>
  <strong>Orgaorg:</strong>
  <%= @fake_secad.orgaorg %>
</p>

<p>
  <strong>Ufrg:</strong>
  <%= @fake_secad.ufrg %>
</p>

<p>
  <strong>Data admissao:</strong>
  <%= @fake_secad.data_admissao %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @fake_secad.telefone %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @fake_secad.endereco %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @fake_secad.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @fake_secad.cidade %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @fake_secad.cep %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @fake_secad.uf %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @fake_secad.data_nascimento %>
</p>

<p>
  <strong>Data base ferias:</strong>
  <%= @fake_secad.data_base_ferias %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @fake_secad.cargo %>
</p>

<p>
  <strong>Funcao:</strong>
  <%= @fake_secad.funcao %>
</p>

<p>
  <strong>Salario:</strong>
  <%= @fake_secad.salario %>
</p>

<p>
  <strong>Gratificacao:</strong>
  <%= @fake_secad.gratificacao %>
</p>

<p>
  <strong>Tipo vinculo:</strong>
  <%= @fake_secad.tipo_vinculo %>
</p>

<p>
  <strong>Data demissao:</strong>
  <%= @fake_secad.data_demissao %>
</p>

<p>
  <strong>Data fim contrato:</strong>
  <%= @fake_secad.data_fim_contrato %>
</p>

<p>
  <strong>Escolaridade:</strong>
  <%= @fake_secad.escolaridade %>
</p>

<p>
  <strong>Situacao:</strong>
  <%= @fake_secad.situacao %>
</p>

<p>
  <strong>Referencia cargo :</strong>
  <%= @fake_secad.referencia_cargo_ %>
</p>

<p>
  <strong>Pis:</strong>
  <%= @fake_secad.pis %>
</p>

<p>
  <strong>Referencia funcao :</strong>
  <%= @fake_secad.referencia_funcao_ %>
</p>

<p>
  <strong>Dtini ferias:</strong>
  <%= @fake_secad.dtini_ferias %>
</p>

<p>
  <strong>Dtfim ferias:</strong>
  <%= @fake_secad.dtfim_ferias %>
</p>

<p>
  <strong>Agencia:</strong>
  <%= @fake_secad.agencia %>
</p>

<p>
  <strong>Conta:</strong>
  <%= @fake_secad.conta %>
</p>

<p>
  <strong>Banco:</strong>
  <%= @fake_secad.banco %>
</p>

<p>
  <strong>Situacao ferias:</strong>
  <%= @fake_secad.situacao_ferias %>
</p>

<%= link_to 'Edit', edit_fake_secad_path(@fake_secad) %> |
<%= link_to 'Back', fake_secads_path %>
