<%= content_for :title do "Usuarios"  end %>
<%= content_for :icon_page do "fa-group"  end %>
<%= content_for :botao_add do  %>
<%= link_to "Ver Todos", users_path, class:"btn btn-info" %>
<% end %>
<%= form_for(@user) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>



<div class="row">
  <div class="col-md-6">
    <div class="widget media margin-none bg-gray ">
      <a class="pull-left bg-info innerAll text-center text-white"><i class="fa icon-user-2 fa-5x"></i></a>
      <div class="media-body innerAll">
        <h4 class="media-heading innerT"> Configurando Pessoa</h4>                     
        <p>Dados pessoais do usuário.</p>
      </div>
      <div class="widget-body bg-white">
        <div class="field">
          <%= f.label :name, "Nome" %>
          <%= f.text_field :name, class:"form-control", required: true %>
          <p>&nbsp;</p>
        </div>
        <div class="field">
          <%= f.label :cpf %>
          <%= f.text_field :cpf, class:"form-control", required: true %>
          <p>&nbsp;</p>
        </div>
        <div class="field">
          <%= f.label :matricula %>
          <%= f.text_field :matricula, class:"form-control", required: true %>
          <p>&nbsp;</p>
          <%= f.file_field :photo  %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="widget media margin-none bg-gray ">
      <a class="pull-left bg-info innerAll text-center text-white"><i class="fa icon-car-key fa-5x"></i></a>
      <div class="media-body innerAll">
        <h4 class="media-heading innerT"> Configurando Acesso</h4>                     
        <p>Credenciais de acesso ao Sistema.</p>
      </div>
      <div class="widget-body bg-white">
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email , class:"form-control", required: true %>
          <p>&nbsp;</p>
        </div>
        <div class="field">
          <%= f.label :perfil, "Perfis" %>
          <%= f.select :perfil,
                       options_for_select(User.perfil.options, @user.perfil),
                       {},
                       {class: 'form-control'} %>
          <p>&nbsp;</p>
        </div>
        <div class="field">
          <%= f.label :password, "Senha" %>
          <%= f.password_field :password , class:"form-control" %>
          <p>&nbsp;</p>
        </div>
        <div class="field">
          <%= f.label :password_confirmation, "Confirme a Senha" %>
          <%= f.password_field :password_confirmation , class:"form-control"   %>
          <p>&nbsp;</p>
        </div>
      </div>  
    </div>
  </div>
</div>
<%= f.fields_for :fake_secad do |fs|  %>
<p>&nbsp;</p>
<div class="row">
  <div class="col-md-12">
    <div class="widget media margin-none bg-gray ">
      <a class="pull-left bg-info innerAll text-center text-white"><i class="fa icon-user-2 fa-5x"></i></a>
      <div class="media-body innerAll">
        <h4 class="media-heading innerT"> Configurando Dados SECAD Manualmente</h4>                     
        <p>Obrigatório para quem não está na tabela da SECAD.</p>
      </div>
      <div class="widget-body bg-white">
        <div>
          <%= f.label :bypass_validation, "Autorizar Bypass Secad" %>
          <%= f.check_box :bypass_validation , class:"form-control"   %>
          <p>&nbsp;</p>
        </div>
        <div class="field">
          <%= fs.label :entity_id %><br>
          <%= fs.text_field :entity_id , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :matricula %><br>
          <%= fs.text_field :matricula , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :numfunc %><br>
          <%= fs.text_field :numfunc , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :numvinc %><br>
          <%= fs.text_field :numvinc , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :sexo %><br>
          <%= fs.text_field :sexo , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :numrg %><br>
          <%= fs.text_field :numrg , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :orgaorg %><br>
          <%= fs.text_field :orgaorg , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :ufrg %><br>
          <%= fs.text_field :ufrg , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :data_admissao %><br>
          <%= fs.date_select :data_admissao, class:"form-control" %>
        </div>
        <div class="field">
          <%= fs.label :telefone %><br>
          <%= fs.text_field :telefone , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :endereco %><br>
          <%= fs.text_field :endereco , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :bairro %><br>
          <%= fs.text_field :bairro , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :cidade %><br>
          <%= fs.text_field :cidade , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :cep %><br>
          <%= fs.text_field :cep , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :uf %><br>
          <%= fs.text_field :uf , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :data_nascimento %><br>
          <%= fs.date_select :data_nascimento, class:"form-control" %>
        </div>
        <div class="field">
          <%= fs.label :data_base_ferias %><br>
          <%= fs.date_select :data_base_ferias, class:"form-control" %>
        </div>
        <div class="field">
          <%= fs.label :cargo %><br>
          <%= fs.text_field :cargo , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :funcao %><br>
          <%= fs.text_field :funcao , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :salario %><br>
          <%= fs.text_field :salario , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :gratificacao %><br>
          <%= fs.text_field :gratificacao , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :tipo_vinculo %><br>
          <%= fs.text_field :tipo_vinculo , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :data_demissao %><br>
          <%= fs.date_select :data_demissao, class:"form-control" %>
        </div>
        <div class="field">
          <%= fs.label :data_fim_contrato %><br>
          <%= fs.date_select :data_fim_contrato, class:"form-control" %>
        </div>
        <div class="field">
          <%= fs.label :escolaridade %><br>
          <%= fs.text_field :escolaridade , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :situacao %><br>
          <%= fs.text_field :situacao , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :referencia_cargo_ %><br>
          <%= fs.text_field :referencia_cargo_ , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :pis %><br>
          <%= fs.text_field :pis , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :referencia_funcao_ %><br>
          <%= fs.text_field :referencia_funcao_ , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :dtini_ferias %><br>
          <%= fs.date_select :dtini_ferias, class:"form-control" %>
        </div>
        <div class="field">
          <%= fs.label :dtfim_ferias %><br>
          <%= fs.date_select :dtfim_ferias, class:"form-control" %>
        </div>
        <div class="field">
          <%= fs.label :agencia %><br>
          <%= fs.text_field :agencia , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :conta %><br>
          <%= fs.text_field :conta , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :banco %><br>
          <%= fs.text_field :banco , class:"form-control"%>
        </div>
        <div class="field">
          <%= fs.label :situacao_ferias %><br>
          <%= fs.text_field :situacao_ferias , class:"form-control"%>
        </div>

      </div>
    </div>
  </div>
</div>
<% end %>
<p>&nbsp;</p>
<div class="col-md-12 innerAll inner-2x">   
  <%= f.submit "Salvar Usuario", class:"btn btn-lg btn-success btn-block" %>  
</div>
<% end %>