<%= content_for :title do "Usuáriosss" end %>
<%= content_for :icon_page do "fa-group"  end %>
<%= content_for :botao_add do  %>
  <%= link_to "Novo", new_user_path, class:"btn btn-info" %>
<% end %>
<div class="widget">
  <!-- Category Heading -->
  <%= search_form_for @q do |f| %>
  <div class="input-group input-group-lg border-bottom">
    <span class="input-group-btn">
      <a href="" class="btn"><i class="fa fa-search text-muted"></i></a>
    </span>
    <%= f.text_field :name_or_email_or_cpf_or_matricula_cont, class: "form-control border-none", placeholder:"Pesquisa" %>
  </div>
  <% end %>
  <% @users.each do |user| %>

  <div class="bg-gray-hover overflow-hidden">
    <div class="row innerAll half border-bottom">

      <div class="col-sm-6 col-xs-8">
        <ul class="media-list margin-none">
          <li class="media">
            <a class="pull-left innerAll half " href="#">
              <span class="empty-photo">
                <i class="text-muted fa fa-user"></i>
              </span>
            </a>
            <div class="media-body">
              <div class="innerAll half">
                <h4 class="margin-none">                
                  <%= link_to user.name, user  %>               
                </h4>
                <div class="clearfix">                
                </div>
                <small class="margin-none text-muted"><%= user.cpf %> | <%= user.matricula %></small>
              </div>
            </div>

          </li>
        </ul>
      </div>


      <div class="col-sm-3 col-xs-hidden margin-none">
        <div class="innerAll half">
          <div class="media">
            <div class="media-body ">
              <span class="text-small">Desde</span>
              <div class="clearfix"></div>
              <small><%= user.created_at  %></small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-xs-hidden margin-none">
        <div class="innerAll half">
          <div class="media">
            <div class="media-body ">
              <%= link_to :editar, edit_user_path(user), class:"btn btn-info" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<%= paginate @users %>