<%= form_tag password_change_path, :method => 'post' do %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="widget media margin-none bg-gray ">
      <a class="pull-left bg-info innerAll text-center text-white"><i class="fa icon-car-key fa-5x"></i></a>
      <div class="media-body innerAll">
        <h4 class="media-heading innerT"> Minha Senha</h4>                     
        <p>Alterando minha senha no TOauth.</p>
      </div>
      <div class="widget-body bg-white">
        <div class="field">
          <%= label_tag :password, "Senha" %>
          <%= password_field_tag :password ,nil , class:"form-control" %>
          <p>&nbsp;</p>
        </div>
        <div class="field">
          <%= label_tag :password_confirmation, "Confirme a Senha" %>
          <%= password_field_tag :password_confirmation , nil ,class:"form-control"   %>
          <p>&nbsp;</p>
        </div>
        <div class="col-md-12 innerAll inner-2x">   
          <%= submit_tag "Salvar Senha", class:"btn btn-lg btn-success btn-block" %>  
        </div>
      </div>  
    </div>
  </div>
</div>
<p>&nbsp;</p>
<% end %>
