<div>
	<div class="error innerAll ">
        <div class="well text-center">
            <div class="center text-large innerAll">
                <i class="fa fa-5x fa-thumbs-o-up text-success "></i>
            </div>
            <h1 class="strong innerTB">Senha Alterada Com Sucesso!!!</h1>
            <div class="inerAll">
            	<%= link_to "Faça Login Novamente", new_user_session_path,  class:" btn btn-primary text-large "  %>          
            </div>
        </div>
    </div>
</div>