<div id="profile-page-header" class="card">
	<div class="card-image waves-effect waves-block waves-light">
		<img class="activator" src="/materialize/images/user-profile-bg.jpg" alt="user background">                    
	</div>
	<figure class="card-profile-image">
		<img src="<%= @user.photo_url  %>" alt="profile image" class="circle z-depth-2 responsive-img activator">
	</figure>
	<div class="card-content">
		<div class="row">                    
			<div class="col s3 offset-s2">                        
				<h4 class="card-title grey-text text-darken-4">
					<%= @user.name.split(' ')[0] %>
					<%= @user.name.split(' ')[1] %>
				</h4>
				<p class="medium-small grey-text">
					<%= @user.profile[:funcao] || @user.profile[:cargo] %>
				</p>                        
			</div>
			<div class="col s2 center-align">
				<p class="medium-small grey-text">&nbsp;</p>                        
			</div> 
			<div class="col s2 center-align">
				<h4 class="card-title grey-text text-darken-4"><%= @user.cpf  %></h4>
				<p class="medium-small grey-text">CPF</p>                        
			</div>                                 
			<div class="col s2 center-align">
				<h4 class="card-title grey-text text-darken-4"><%= @user.profile[:data_nascimento].to_date if @user.profile[:data_nascimento] %></h4>
				<p class="medium-small grey-text">Nascimento</p>                        
			</div> 
			<div class="col s1 right-align">
				<a class="btn-floating activator waves-effect waves-light darken-2 right">
					<i class="mdi-action-perm-identity"></i>
				</a>
			</div>
		</div>
	</div>
	
	<div class="card-reveal">
		<p>
			<span class="card-title grey-text text-darken-4"><%= @user.name  %> <i class="mdi-navigation-close right"></i></span>
		</p>
		<p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> <%= @user.profile[:telefone] %></p>
		<p><i class="mdi-communication-email cyan-text text-darken-2"></i> <%= @user.email %></p>
		<p><i class="mdi-social-cake cyan-text text-darken-2"></i> <%= @user.profile[:data_nascimento].to_date if @user.profile[:data_nascimento] %></p>
		<p><strong>Matrícula:</strong> <%= @user.matricula  %></p>
		<%= form_for @user, url: change_avatar_user_path(@user) do |f| %>
		<div class="row">
			<div class="col m10">
				<div class="file-field input-field">
					<input class="file-path validate" type="text" />
					<div class="btn">
					<span>Foto</span>
						<%= f.file_field :photo  %>
					</div>
				</div>				
			</div>
			<div class="col m2">
				<%= f.submit "Enviar", class:"btn teal" %>
			</div>
		</div>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="col s12 m4">
		<div class="card red darken-2">
			<div class="card-content white-text center-align">
				<p class="card-title"><%= @user.profile[:orgao] if @user.profile  %></p>
				<p>Órgão</p>
			</div>                  
		</div>
	</div>
	<div class="col s12 m4">
		<div class="card teal darken-2">
			<div class="card-content white-text center-align">
				<p class="card-title"> <%= @user.profile[:numfunca] if @user.profile  %>-<%= @user.profile[:numvinc] if @user.profile %></p>
				<p>Nº Funcional</p>
			</div>                  
		</div>
	</div>
	<div class="col s12 m4">
		<div class="card amber darken-2">
			<div class="card-content white-text center-align">
				<p class="card-title"> <%= @user.profile[:tipo_vinculo] if @user.profile  %></p>
				<p>Tipo de Vínculo</p>
			</div>                  
		</div>
	</div>
</div>
<div class="row">
<!--	<div class="col s12 m7">-->
<!--		<div class="map-card">-->
<!--			<div class="card">-->
<!--				<div class="card-image waves-effect waves-block waves-light">-->
<!--					<div id="map-canvas" data-lat="" data-lng=""></div>-->
<!--				</div>-->
<!--				<div class="card-content">                    -->
<!--					<a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">-->
<!--						<i class="mdi-maps-pin-drop"></i>-->
<!--					</a>-->
<!--					<h4 class="card-title grey-text text-darken-4"><span class="grey-text text-darken-4">Meu Endereço</span>-->
<!--					</h4>-->
<!--					<p class="blog-post-content">Endereço cadastrado na SECAD.</p>-->
<!--				</div>-->
<!--				<div class="card-reveal">-->
<!--					<span class="card-title grey-text text-darken-4">Meus Contatos <i class="mdi-navigation-close right"></i></span>                   -->
<!--					<p><%#= @user.profile[:endereco] %>.</p>-->
<!--					<p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> <%#= @user.profile[:telefone] if @user.profile  %></p>-->
<!--					<p><i class="mdi-communication-email cyan-text text-darken-2"></i> <%#= @user.email %></p>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
	<% chefes = @user.responsaveis_departamento  %>
  <% if chefes.present? %>
    <div class="col s12 m5">
      <div id="profile-card" class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/materialize/images/user-bg.jpg" alt="user bg">
        </div>
        <div class="card-content">
<!--          <img src="/mosaicpro/images/default-avatar.png" alt="" class="circle responsive-img activator card-profile-image">-->
<!--          <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">-->
<!--            <i class="mdi-content-add"></i>-->
<!--          </a>-->

          <span class="card-title activator grey-text text-darken-4">Responsáveis do Departamento</span>
          <% chefes.each do |chefe| %>
            <p>
              <%= chefe["tipo"].upcase %>
            </p>
            <p><i class="mdi-action-perm-identity"></i>
              <%= chefe["nome"].split(' ')[0]  %> <%= chefe["nome"].split(' ')[1]  %>
            </p>
            <p><i class="mdi-action-assignment-ind"></i> <%= chefe["funcao"].present? ? chefe["funcao"] : chefe["cargo"]  %></p>
<!--            <p><i class="mdi-communication-email"></i> <%##= chefe.email_corporativo  %></p>-->
            <hr>
          <% end %>

        </div>
      </div>
    </div>
	<% end %>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAZnaZBXLqNBRXjd-82km_NO7GUItyKek"></script>
