
  <div class="col-md-6 col-md-offset-3">
    <div class="widget innerAll inner-2x">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <%= f.label :password, "Nova Senha" %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class:"form-control" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "Confirme a nova senha" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" , class:"form-control"%>
        </div>
        <p>&nbsp;</p>
        <div class="actions">
          <%= f.submit "Alterar", class:"btn btn-block btn-success" %>
        </div>
      <% end %>
</div>
</div>