<div style="top:-100px; position:relative">
	<div class="col-md-6 col-md-offset-3">
		<div class="widget innerAll inner-2x">

			<h2>Esqueceu sua senha?</h2>
			<p>Informe seu email que você receberá instruções de como recuperá-la</p>

			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			<%= devise_error_messages! %>

			<div class="field">
				<%= f.label :email %><br />
				<%= f.email_field :email, autofocus: true, class:"form-control" %>
			</div>
				<p>&nbsp;</p>
			<div class="actions">
				<%= f.submit "Recuperar Senha", class:"btn btn-success" %>
			</div>
			<% end %>

		</div>
	</div>
</div>