<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="widget innerAll">
			<h1>Aviso Importante</h1>
			<h4>Todos os Sistemas da Secretaria de Planejamento serão paralizados às 17h do dia 25/10/2016 para manutenção programada nos servidores. Até o final do dia os sistemas serão restabelecidos.</h4>
			<%= link_to "Voltar ao Sistema", new_user_session_url, class: "btn btn-success" %>
		</div>		
	</div>
</div>


<script type="text/javascript">
	setTimeout(
		function() {
			window.location.href="<%= new_user_session_url %>"
		}
		, 10000
	);
</script>