<%
  begin
    if cookies.signed[:user_id].present?
      @user_device = User.find(cookies.signed[:user_id])
    end
  rescue
  end
 %>

<style type="text/css">
  #notyfy_container_top{
    top:0px;
  }
</style>
<div style="top:-50px; position:relative">  
  <div class="center">
    <img src="https://barra.to.gov.br/imagens/logo.svg?1527695565" >
  </div> <br>

  <div class="container">
    <!-- row-app -->
    <div class="row row-app">
      <!-- col -->
      <!-- col-separator.box -->
      <div class="col-separator col-unscrollable box">
        <!-- col-table -->
        <div class="col-table">
          <!-- col-table-row -->
          <div class="col-table-row">
            <!-- col-app -->
            <div class="col-app col-unscrollable">
              <!-- col-app -->
              <div class="col-app">
                <div class="login">
                  <div class="panel panel-default col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-4">
                    <div class="panel-body">
                      <%= form_for(resource, as: resource_name, url: session_path(resource_name),role:"form") do |f| %>

                      <div class="form-group">
                        <% if @user_device.present? %>
                        <div class="center">
                          <img src="<%= @user_device.photo_url %>" class="img-circle" width="80" /><br>
                          <h2>
                            <%= @user_device.name_top  %><br>
                            <small>Que bom ver você novamente!</small>
                          </h2>
                        </div>
                          <%= f.hidden_field :login, value: @user_device.email  %>
                        <% else %>
                          <div class="input-group">
                            <span class="input-group-addon bg-gray"><i class="fa fa-user fa-2x"></i></span>
                            <%= f.text_field :login, autofocus: true, class: "form-control col-md-12 input-lg",placeholder: "E-mail ou CPF"  %>
                          </div>
                        <% end %>
                      </div>
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon bg-gray"><i class=" icon-lock-fill fa-2x"></i>&nbsp;</span>
                          <%= f.password_field :password, autocomplete: "off", class: "form-control col-md-12 input-lg",placeholder: "Digite sua senha" %>
                        </div>
                      </div>
                      <div class="">
                        <%= f.submit "Entrar",class: "btn btn-info btn-block btn-lg" %>
                        <br/>
                      </div>
                      <% if @user_device.blank? %>
                        <div class="pull-left">
                         <%= link_to "Primeiro Acesso", new_registration_path(resource_name), class: "btn btn-default  bg-gray btn-sm"%>
                       </div>
                       <div class="form-group pull-right">
                        <% if devise_mapping.rememberable? -%>
                        <div class="checkbox">
                          <label class="checkbox-custom">
                            <%= f.check_box :remember_me %>
                            <i class="fa fa-fw fa-square-o checked"></i> Lembre-se de mim
                          </label>
                        </div>
                      <% end %>
                      <% end -%>
                    </div>
                  </div>
                  <% end %>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="col-app" id="botao" >
              <div class="login center">
                <div class="btn btn-danger btn-lg" onclick="show_links()">
                  <i class="fa fa-unlink"></i> Problemas no Acesso?
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="col-app" style="display:none;" id="links">
              <div class="login">
                <div class="panel panel-default col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-4">
                  <div class="panel-body">
                  <% if @user_device.present? %>
                  <h2>
                    <%= link_to clear_coockie_users_path do %>
                      Não é <%= @user_device.name_top %>?<br>
                    <% end %>
                  </h2>
                  <% end %>
                   <%= render "devise/shared/links" %>
                 </div>
               </div>
               <div class="clearfix"></div>
             </div>
           </div>
           <!-- // END col-app -->
         </div>
         <!-- // END col-app.col-unscrollable -->
       </div>
       <!-- // END col-table-row -->
     </div>
     <!-- // END col-table -->
   </div>
   <!-- // END col-separator.box -->
 </div>
</div>
<script type="text/javascript">
  function show_links () {
    $('#botao').hide()
    $('#links').fadeIn()
  }
</script>
<script src="/mosaicpro/components/common/forms/elements/fuelux-checkbox/fuelux-checkbox.init.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>