<p>Olá <%= @resource.name %>!</p>

<p>Alguém pediu uma recuperação de senha para seu usuário no TOauth da Seplan. Clique no link abaixo para prosseguir a alteração.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi você quem solicitou este email, apenas ignore-o.</p>

Caso o link não funcione, copie e cole no navegador: <%= edit_password_url(@resource, reset_password_token: @token)  %>