<aside id="left-sidebar-nav">
	<ul id="slide-out" class="side-nav fixed leftside-navigation">

		<% if user_signed_in? %>		
		<li class="user-details cyan darken-2">
			<div class="row">

				<div class="col col s4 m4 l4">
					<img src="<%= current_user.photo_url %>" alt="" class="circle responsive-img valign profile-image">
				</div>
				<div class="col col s8 m8 l8">
					<ul id="profile-dropdown" class="dropdown-content">
						<li><a href="/"><i class="mdi-action-face-unlock"></i> Perfil</a>
						</li>
						<li>
							<%= link_to minha_senha_path do %>
							<i class="mdi-communication-vpn-key"></i> Senha
							<% end %> 
						</li>
						<li><a href="<%= destroy_user_session_path  %>"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
						</li>
					</ul>
					<a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown"><%= current_user.name.split(' ')[0] %><i class="mdi-navigation-arrow-drop-down right"></i></a>
					<p class="user-roal"><%= current_user.cpf  %></p>
				</div>
			</div>
		</li>
		<% end %>
		<li class="bold">
			<a href="http://gestores.seplan.to.gov.br" class="waves-effect waves-cyan">
				<i class="mdi-action-account-child"></i> Grupo Executivo
			</a>
		</li>
		<li class="bold">
			<a href="http://oquena.seplan.to.gov.br" class="waves-effect waves-cyan">
				<i class="mdi-action-verified-user"></i> Oquena
			</a>
		</li>
		<li class="bold">
			<a href="http://www.siato.to.gov.br" class="waves-effect waves-cyan">
				<i class="mdi-av-my-library-books"></i> Siato
			</a>
		</li>

		<li class="bold">
			<a href="http://sgd.to.gov.br/" class="waves-effect waves-cyan">
				<i class="mdi-editor-insert-drive-file"></i> SGD
			</a>
		</li>
    <li class="bold">
      <a href="http://planejamento.monitora.to.gov.br" class="waves-effect waves-cyan">
        <i class="mdi-action-group-work"></i> Planeja
      </a>
    </li>
    <li class="bold">
      <a href="http://www.servicos.to.gov.br/admin" class="waves-effect waves-cyan">
        <i class="mdi-action-help"></i> Portal de Serviços
      </a>
    </li>
	</ul>
	<a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
</aside>