<ul class="nav navbar-nav">
    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="">Usuários <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>
                <%= link_to "Listar", users_path %>
            </li>
            <li>
                <%= link_to "Novo", new_user_path %>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="">Aplicações <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>
                <%= link_to "Listar", oauth_applications_path %>
            </li>
        </ul>
    </li>
</ul>