<aside id="right-sidebar-nav">
	<ul id="chat-out" class="side-nav rightside-navigation">
		<li class="li-hover">
			<a href="/materialize/#" data-activates="chat-out" class="chat-close-collapse right"><i class="mdi-navigation-close"></i></a>
			<div id="right-search" class="row">
				<form class="col s12">
					<div class="input-field">
						<i class="mdi-action-search prefix"></i>
						<input id="icon_prefix" type="text" class="validate">
						<label for="icon_prefix">Search</label>
					</div>
				</form>
			</div>
		</li>
		<li class="li-hover">
			<ul class="chat-collapsible" data-collapsible="expandable">
				<li>
					<div class="collapsible-header teal white-text active"><i class="mdi-social-whatshot"></i>Recent Activity</div>
					<div class="collapsible-body recent-activity">
						<div class="recent-activity-list chat-out-list row">
							<div class="col s3 recent-activity-list-icon"><i class="mdi-action-add-shopping-cart"></i>
							</div>
							<div class="col s9 recent-activity-list-text">
								<a href="/materialize/#">just now</a>
								<p>Jim Doe Purchased new equipments for zonal office.</p>
							</div>
						</div>
						<div class="recent-activity-list chat-out-list row">
							<div class="col s3 recent-activity-list-icon"><i class="mdi-device-airplanemode-on"></i>
							</div>
							<div class="col s9 recent-activity-list-text">
								<a href="/materialize/#">Yesterday</a>
								<p>Your Next flight for USA will be on 15th August 2015.</p>
							</div>
						</div>
						<div class="recent-activity-list chat-out-list row">
							<div class="col s3 recent-activity-list-icon"><i class="mdi-action-settings-voice"></i>
							</div>
							<div class="col s9 recent-activity-list-text">
								<a href="/materialize/#">5 Days Ago</a>
								<p>Natalya Parker Send you a voice mail for next conference.</p>
							</div>
						</div>
						<div class="recent-activity-list chat-out-list row">
							<div class="col s3 recent-activity-list-icon"><i class="mdi-action-store"></i>
							</div>
							<div class="col s9 recent-activity-list-text">
								<a href="/materialize/#">Last Week</a>
								<p>Jessy Jay open a new store at S.G Road.</p>
							</div>
						</div>
						<div class="recent-activity-list chat-out-list row">
							<div class="col s3 recent-activity-list-icon"><i class="mdi-action-settings-voice"></i>
							</div>
							<div class="col s9 recent-activity-list-text">
								<a href="/materialize/#">5 Days Ago</a>
								<p>Natalya Parker Send you a voice mail for next conference.</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="collapsible-header light-blue white-text active"><i class="mdi-editor-attach-money"></i>Sales Repoart</div>
					<div class="collapsible-body sales-repoart">
						<div class="sales-repoart-list  chat-out-list row">
							<div class="col s8">Target Salse</div>
							<div class="col s4"><span id="sales-line-1"></span>
							</div>
						</div>
						<div class="sales-repoart-list chat-out-list row">
							<div class="col s8">Payment Due</div>
							<div class="col s4"><span id="sales-bar-1"></span>
							</div>
						</div>
						<div class="sales-repoart-list chat-out-list row">
							<div class="col s8">Total Delivery</div>
							<div class="col s4"><span id="sales-line-2"></span>
							</div>
						</div>
						<div class="sales-repoart-list chat-out-list row">
							<div class="col s8">Total Progress</div>
							<div class="col s4"><span id="sales-bar-2"></span>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="collapsible-header red white-text"><i class="mdi-action-stars"></i>Favorite Associates</div>
					<div class="collapsible-body favorite-associates">
						<div class="favorite-associate-list chat-out-list row">
							<div class="col s4"><img src="/materialize/images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
							</div>
							<div class="col s8">
								<p>Eileen Sideways</p>
								<p class="place">Los Angeles, CA</p>
							</div>
						</div>
						<div class="favorite-associate-list chat-out-list row">
							<div class="col s4"><img src="/materialize/images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
							</div>
							<div class="col s8">
								<p>Zaham Sindil</p>
								<p class="place">San Francisco, CA</p>
							</div>
						</div>
						<div class="favorite-associate-list chat-out-list row">
							<div class="col s4"><img src="/materialize/images/avatar.jpg" alt="" class="circle responsive-img offline-user valign profile-image">
							</div>
							<div class="col s8">
								<p>Renov Leongal</p>
								<p class="place">Cebu City, Philippines</p>
							</div>
						</div>
						<div class="favorite-associate-list chat-out-list row">
							<div class="col s4"><img src="/materialize/images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
							</div>
							<div class="col s8">
								<p>Weno Carasbong</p>
								<p>Tokyo, Japan</p>
							</div>
						</div>
						<div class="favorite-associate-list chat-out-list row">
							<div class="col s4"><img src="/materialize/images/avatar.jpg" alt="" class="circle responsive-img offline-user valign profile-image">
							</div>
							<div class="col s8">
								<p>Nusja Nawancali</p>
								<p class="place">Bangkok, Thailand</p>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</li>
	</ul>
	</aside