<header id="header" class="page-topbar">
		<!-- start header nav-->
		<div class="navbar-fixed">
			<nav class="cyan">
				<div class="nav-wrapper">                    

					<ul class="left">                      
						<li><h1 class="logo-wrapper"><a href="/" class="brand-logo darken-1">TOauth</a></h1></li>
					</ul>
					<ul class="right hide-on-med-and-down">                        
						<li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
						</li>                      
					</ul>
				</div>
			</nav>
		</div>
		<!-- end header nav-->
	</header>