<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7 "> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8 "> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9 "> <![endif]-->
<!--[if gt IE 8]> <html class="ie "> <![endif]-->
<!--[if !IE]><!-->
<html class="">
<!-- <![endif]-->
<head>
    <title>TOauth</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- 
    **********************************************************
    In development, use the LESS files and the less.js compiler
    instead of the minified CSS loaded by default.
    **********************************************************
    <link rel="stylesheet/less" href="/mosaicpro/less/admin/module.admin.stylesheet-complete.sidebar_type.no-sidebar.less" />
-->
<!--[if lt IE 9]><link rel="stylesheet" href="/mosaicpro/components/library/bootstrap/css/bootstrap.min.css" /><![endif]-->
<link rel="stylesheet" href="/mosaicpro/css/admin/module.admin.stylesheet-complete.sidebar_type.no-sidebar.min.css"
/>  
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
      <script src="/mosaicpro/components/library/jquery/jquery.min.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
      <script src="/mosaicpro/components/library/jquery/jquery-migrate.min.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
      <script src="/mosaicpro/components/library/modernizr/modernizr.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
      <script src="/mosaicpro/components/plugins/less-js/less.min.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
      <script src="/mosaicpro/components/modules/admin/charts/flot/assets/lib/excanvas.js?v=v1.0.3-rc2"></script>
      <script src="/mosaicpro/components/plugins/browser/ie/ie.prototype.polyfill.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
      <script>
        if ( /*@cc_on!@*/ false && document.documentMode === 10)
        {
            document.documentElement.className += ' ie ie10';
        }
    </script>
    <style type="text/css">
        .navbar{
            background: url('http://barra.to.gov.br/imagens/bg_geometric.png');
        }
        #notyfy_container_top{
            top:50px;
        }
    </style>
</head>
<body class="">
    <!-- Main Container Fluid -->
    <div class="container-fluid menu-hidden">
        <!-- Content -->
        <div id="content">
        <% if user_signed_in? %> 
            <nav class="navbar hidden-print main " role="navigation">
                <div class="container">
                    <div class="navbar-header pull-left">
                        <div class="navbar-brand">
                            <a href="/">
                                <img src="https://barra.to.gov.br/imagens/logo.svg?1527695565" height="100%">
                            </a>
                        </div>
                        <button type="button" class="navbar-toggle padding-top-none" data-toggle="collapse"
                        data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-2x text-muted-dark"></i>
                    </button>
                </div>
                <ul class="main pull-right ">
                                       
                    <li class="dropdown username">
                      <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/mosaicpro/images/default-avatar.png" class="img-circle"
                        width="30" /><%= current_user.name_top  %>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <%= link_to minha_pagina_path, class:"glyphicons user" do %>
                                <i></i> Minha Página
                            <% end %>   
                        </li>
                        <li>
                            <%= link_to minha_senha_path, class:"glyphicons lock" do %>
                                <i></i> Alterar Senha
                            <% end %>   
                        </li>
                        <li>
                        
                        <%= link_to destroy_user_session_path, class:"glyphicons exit no-ajaxify" do %>
                            <i></i>Sair
                        <% end %>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-collapse collapse">
                <%= render 'layouts/menu' if current_user.admin? %>
            </div>
        </div>
        <!-- // END container -->
    </nav>
    <% end %>
    <!-- // END navbar -->
    <div class="container">
        <% if (yield :botao_add).present? %>        
            <div class="innerLR">
                <div class="pull-right hidden-print">
                  <div class="btn-group">
                    <%= yield :botao_add  %>
                    <%= yield :botoes %>
                </div>
            </div>
        <% end %>
        <% if  (yield :title).present? %>            
            <h2 class="margin-none <%= yield :title_class  %>"> <i class="fa fa-fw <%= yield :icon_page  %> text-muted"></i>&nbsp;<%= yield :title  %>
            </h2>        
        <% end %>
        <div class="clearfix"></div>
        <div class="row">
            <%= yield  %> 
        </div>
    </div>
</div>
<!-- // Content END -->
</div>
<!-- // Container END -->
<div class="clearfix"></div>
<!-- // Sidebar menu & content wrapper END -->
<div id="footer" class="hidden-print">
    <!--  Copyright Line -->
    <div class="copy">&copy; 2015 - TOauth desenvolvido por <a href="http://ati.to.gov.br">Agência de Tecnologia da Informação</a> - Direitos Reservados
    </div>
    <!--  End Copyright Line -->
</div>
<!-- // Footer END -->
</div>
<!-- // Main Container Fluid END -->
<!-- Global -->
<script data-id="App.Config">
    var App = {};
    var basePath = '',
        commonPath = '/mosaicpro/',
        rootPath = '../',
        DEV = false,
        componentsPath = '/mosaicpro/components/';
    var primaryColor = '#3695d5',
        dangerColor = '#b55151',
        successColor = '#609450',
        infoColor = '#4a8bc2',
        warningColor = '#ab7a4b',
        inverseColor = '#45484d';
    var themerPrimaryColor = primaryColor;

</script>


<script src="/mosaicpro/components/library/bootstrap/js/bootstrap.min.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
<script src="/mosaicpro/components/plugins/nicescroll/jquery.nicescroll.min.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
<script src="/mosaicpro/components/plugins/breakpoints/breakpoints.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
<script src="/mosaicpro/components/plugins/preload/pace/pace.min.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
<script src="/mosaicpro/components/plugins/preload/pace/preload.pace.init.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
<script src="/mosaicpro/components/core/js/animations.init.js?v=v1.0.3-rc2"></script>


<script src="/mosaicpro/components/modules/admin/charts/easy-pie/assets/lib/js/jquery.easy-pie-chart.js?v=v1.0.3-rc2"></script>
<script src="/mosaicpro/components/modules/admin/charts/easy-pie/assets/custom/easy-pie.init.js?v=v1.0.3-rc2"></script>
<script src="/mosaicpro/components/modules/admin/charts/sparkline/jquery.sparkline.min.js?v=v1.0.3-rc2"></script>
<script src="/mosaicpro/components/modules/admin/charts/sparkline/sparkline.init.js?v=v1.0.3-rc2"></script>
<script src="/mosaicpro/components/modules/admin/maps/vector/assets/lib/jquery-jvectormap-1.2.2.min.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
<script src="/mosaicpro/components/modules/admin/maps/vector/assets/lib/maps/jquery-jvectormap-world-mill-en.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
<script src="/mosaicpro/components/modules/admin/maps/vector/assets/custom/maps-vector.world-map-markers.init.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
<script src="/mosaicpro/components/core/js/core.init.js?v=v1.0.3-rc2"></script>
<script src="/mosaicpro/components/common/forms/elements/bootstrap-datepicker/assets/lib/js/bootstrap-datepicker.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
<script src="/mosaicpro/components/common/forms/elements/bootstrap-datepicker/assets/custom/js/bootstrap-datepicker.init.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
<script src="/mosaicpro/components/common/forms/elements/select2/assets/lib/js/select2.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
<script src="/mosaicpro/components/common/forms/elements/select2/assets/custom/js/select2.init.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
<script src="/mosaicpro/components/common/forms/elements/multiselect/assets/lib/js/jquery.multi-select.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
<script src="/mosaicpro/components/common/forms/elements/multiselect/assets/custom/js/multiselect.init.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>
<script src="/mosaicpro/components/modules/admin/notifications/notyfy/assets/lib/js/jquery.notyfy.js?v=v1.0.3-rc2&sv=v0.0.1.1"></script>


<script type="text/javascript">
   function notificar (texto, tipo) {
       notyfy({
        text: texto,
        type: tipo,
        layout: "top",
        timeout: 5000,
    });
   }
</script>

<%- if flash[:notice].present? %>
    <script type="text/javascript">
        notificar("<%= flash[:notice] %>", "information")
    </script>
<% end -%>

<%- if flash[:alert].present? %>
    <script type="text/javascript">
        notificar("<%= flash[:alert] %>", "error")
    </script>
<% end -%>
<%= yield :scripts  %>  
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga_monitora');

  ga_monitora('create', 'UA-80190340-1', 'auto');
  <% if user_signed_in? %>
    ga_monitora('set', 'userId', '<%= current_user.email  %>');
  <% end %>
  ga_monitora('send', 'pageview');

</script>