<div>
  <div style="overflow: hidden;">
    <table width="100%" cellspacing="0" cellpadding="0" style="background:#efefef" align="center" height="auto">
      <tbody>
        <tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="0" width="700" bgcolor="#efefef" align="center" height="68">
              <tbody>
                <tr height="20">
                  <td width="150">&nbsp;</td>
                  <td width="548">&nbsp;</td>
                </tr>
                <tr>
                  <td height="32" valign="bottom" align="center" colspan="2">                    
                    <a href="http://www.to.gov.br" targe="_blank" target="_blank">
                      <img alt="Governo do Tocantins" src="https://barra.to.gov.br/imagens/logo.svg?1527695565" style="VERTICAL-ALIGN:bottom">
                    </a>
                  </td>

                  </tr>
                  <tr height="11">
                    <td width="150">&nbsp;</td>
                    <td width="548">&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <table style="BACKGROUND:#efefef" border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
        <tbody>
          <tr>
            <td>
              <table style="BORDER-BOTTOM:#ddd 1px solid;BORDER-LEFT:#ddd 1px solid;BACKGROUND:#fff;BORDER-TOP:#ddd 1px solid;BORDER-RIGHT:#ddd 1px solid" border="0" cellspacing="0" cellpadding="0" width="700" align="center">
                <tbody>
                  <tr>
                    <td height="20"></td>
                  </tr>
                  <tr>
                    <td>
                      <table border="0" cellspacing="0" cellpadding="0" width="620" align="center">
                        <tbody>
                          <tr>
                            <td height="20"></td>
                          </tr>
                          <tr>
                            <td height="14">&nbsp;</td>
                          </tr>
                          <tr>
                            <td style="LINE-HEIGHT:18px;FONT-FAMILY:arial;COLOR:#666;FONT-SIZE:12px">
                              <p>
                                <%= yield %>
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td height="10">&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <table style="BACKGROUND:#efefef" border="0" cellpadding="0" width="100%" align="center" height="auto">
        <tbody>
          <tr>
            <td>
              <table style="BACKGROUND:#efefef" border="0" cellpadding="0" width="100%" align="center" height="auto">
                <tbody>
                  <tr>
                    <td>
                      <table border="0" cellspacing="0" cellpadding="0" width="700" bgcolor="#efefef" align="center" height="165">
                        <tbody>
                        <tr>                          
                              <td style="COLOR:#ccc" height="10" valign="bottom" width="548" align="right">
                                <%= link_to("Portal", "http://www.to.gov.br" , style: "mailer_link_style" ,target: "_blank") %>                            
                                <span style="color:#999999">|</span>
                                <%= link_to("Notícias", "http://secom.to.gov.br/" , style: "mailer_link_style" ,target: "_blank") %>
                                <span style="color:#999999">|</span>
                                <%= link_to("Transparência", "http://transparencia.to.gov.br/" , style: "mailer_link_style" ,target: "_blank") %>
                              </td>
                        </tr>


                          <tr>
                            <td style="LINE-HEIGHT:18px;FONT-FAMILY:arial;COLOR:#999;FONT-SIZE:11px" valign="bottom">

                              <br>
                              <div style="text-align: center" >
                               <br> 
                               <%= link_to("Governo do Estado do Tocantins", "http://www.to.gov.br" , style: "mailer_link_style" ,target: "_blank") %>
                               <br>
                               Palácio Araguaia, Praça dos Girassóis | Palmas - TO 
                               <br/>
                               Fone: 63.3212.4000  | CEP: 77001-900 
                             </div>
                           </td>
                         </tr>
                         <tr>
                          <td height="20">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
