</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="description" content="Mandá - Sistema de Monitoramento de Ações do Estado do Tocantins">
	<meta name="keywords" content="mandá, ações, governo, tocantins, estado">
	<title>TOauth</title>

	<!-- Favicons-->
	<link rel="icon" href="/materialize/images/favicon/favicon-32x32.png" sizes="32x32">
	<!-- Favicons-->
	<link rel="apple-touch-icon-precomposed" href="/materialize/images/favicon/apple-touch-icon-152x152.png">
	<!-- For iPhone -->
	<meta name="msapplication-TileColor" content="#00bcd4">
	<meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
	<!-- For Windows Phone -->


	<!-- CORE CSS-->    
	<link href="/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
	<link href="/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
	<!-- Custome CSS-->    
	<link href="/materialize/css/custom-style.css" type="text/css" rel="stylesheet" media="screen,projection">
	<!-- Custome CSS-->    
	<link href="/materialize/css/custom-style.css" type="text/css" rel="stylesheet" media="screen,projection">


	<!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
	<link href="/materialize/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
	<link href="/materialize/js/plugins/jvectormap/jquery-jvectormap.css" type="text/css" rel="stylesheet" media="screen,projection">
	<link href="/materialize/js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
	<%= csrf_meta_tags %>
</head>

<body>
	<!-- Start Page Loading -->
	<div id="loader-wrapper">
		<div id="loader"></div>        
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<!-- End Page Loading -->

	<!-- //////////////////////////////////////////////////////////////////////////// -->

	<!-- START HEADER -->
	<%= render 'layouts/topbar' %>
	<!-- END HEADER -->

	<!-- //////////////////////////////////////////////////////////////////////////// -->

	<!-- START MAIN -->
	<div id="main">
		<!-- START WRAPPER -->
		<div class="wrapper">

			<!-- START LEFT SIDEBAR NAV-->
			<%= render 'layouts/left_sidebar' %>
			<!-- END LEFT SIDEBAR NAV-->

			<!-- //////////////////////////////////////////////////////////////////////////// -->

			<!-- START CONTENT -->
			<section id="content">

				<!--start container-->
				<div class="container">
					<%= yield  %>
				</section>
				<!-- END CONTENT -->

				<!-- //////////////////////////////////////////////////////////////////////////// -->
				<!-- START RIGHT SIDEBAR NAV-->
				<%= render 'layouts/right_sidebar' %>>
				<!-- LEFT RIGHT SIDEBAR NAV-->

			</div>
			<!-- END WRAPPER -->

		</div>
		<!-- END MAIN -->



		<!-- //////////////////////////////////////////////////////////////////////////// -->

		<!-- START FOOTER -->
		<footer class="page-footer">
			<div class="footer-copyright">
				<div class="container">
					Copyright © 2015 <a class="grey-text text-lighten-4" href="http://seplan.to.gov.br" target="_blank">Secretaria de Planejamento e Orçamento</a> 
					<span class="right"> Desenhado e Desenvolvido por <a class="grey-text text-lighten-4" href="#">Gerência de Sistemas da Informação</a></span>
				</div>
			</div>
		</footer>
		<!-- END FOOTER -->


    <!-- ================================================
    Scripts
    ================================================ -->
    
    <!-- jQuery Library -->
    <script type="text/javascript" src="/materialize/js/jquery-1.11.2.min.js"></script>    
    <!--materialize js-->
    <script type="text/javascript" src="/materialize/js/materialize.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="/materialize/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    

    <!-- chartist -->
    <script type="text/javascript" src="/materialize/js/plugins/chartist-js/chartist.min.js"></script>   

    <!-- chartjs -->
    <script type="text/javascript" src="/materialize/js/plugins/chartjs/chart.min.js"></script>

    <!-- sparkline -->
    <script type="text/javascript" src="/materialize/js/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="/materialize/js/plugins/sparkline/sparkline-script.js"></script>
    
    <!-- google map api -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAZnaZBXLqNBRXjd-82km_NO7GUItyKek"></script>

    <!--jvectormap-->
    <script type="text/javascript" src="/materialize/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script type="text/javascript" src="/materialize/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script type="text/javascript" src="/materialize/js/plugins/jvectormap/vectormap-script.js"></script>    

    
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/materialize/js/plugins.js"></script>
    <!-- Toast Notification -->
    <% if flash[:notice].present? %>
    <script type="text/javascript">
    	$(window).load(function() {
    		setTimeout(function() {
    			Materialize.toast('<span><%= flash[:notice] %></span>', 3000);
    		}, 1500);
    	});
    </script>
    <% end %>

    <% if flash[:alert].present? %>
    <script type="text/javascript">
    	$(window).load(function() {
    		setTimeout(function() {
    			Materialize.toast('<span class="red-text"><%= flash[:alert] %></span>', 3000);
    		}, 1500);
    	});
    </script>
    <% end %>

    <%= yield :scripts  %>
    <script>
    	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga_monitora');

    	ga_monitora('create', 'UA-80190340-1', 'auto');
    	<% if user_signed_in? %>
    	ga_monitora('set', 'userId', '<%= current_user.email  %>');
    	<% end %>
    	ga_monitora('send', 'pageview');

    </script>
</body>

</html>